body{
    background-color: aqua;
}
.city-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 30px;
}
.city{
    background-color: rgba(255, 255, 255, 0.29);
    padding: 5%;
}
